$dark-cyan : hsl(158, 36%, 37%);
$cream : hsl(30, 38%, 92%);
$grayish-blue : hsl(228, 12%, 48%);
$dark-blue : hsl(228, 12%, 48%);
$font-montserrat : "Montserrat", sans-serif;
$font-fraunces : "Fraunces", sans-serif;
$wrapper : 1920
